*{
    box-sizing: border-box;
}
.main{
    min-height: 100vh;
    min-width: 100%;
    background-color: rgb(172, 178, 185);
}
.big_box{
    width: 500px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    
}